extends ./layout.pug

block styles
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="//bootswatch.com/darkly/bootstrap.min.css")

block content
    .container
        .jumbotron
            .container
                .row
                    h1 #[span.text-success FakerTaker]
                    h2 Fakes the meta thing and #[span.text-danger redirects] to the given url #[span.text-warning intelligently]
                    h3 Visit the #[a.text-primary(href="https://github.com/abdulhannanali/FakerTaker") Github repo]
                    h4 Tweet me #[a(href="https://twitter.com/computistic") @computistic]
                    .row
                        .fb-save(data-uri="https://fakertaker.herokuapp.com" data-size="large")
        .row
            form(action="/" method="POST")
                .row
                    .form-group
                        label(for="urlRedirect") #[span.text-success URL to Redirect to]
                        input.form-control#urlRedirect(name="url" required)
                    h3 Basic metadata
                    .form-group
                        label(for="title") Title
                        input.form-control#title(name="og:title" type="text" required)
                    // .form-group
                    //     label(for="ogurl") Url to show
                    //     input.form-control#ogurl(name="og:url" type="text" required)
                    .form-group
                        label(for="type") Type
                        input.form-control#type(name="og:type" value="website" type="text")
                    .form-group
                        label(for="imageLink") Image URL
                        input.form-control#imageLink(name="og:image" type="text")
                    .form-group
                        label(for="description") Description
                        textarea.form-control#description(name="og:description" type="text" rows="5")
                .row
                    h3 Optional metadata
                    .form-group
                        label(for="audioUrl") Audio url
                        input.form-control#audioLink(name="og:audio" type="text")
                    .form-group
                        label(for="mainLocale") Locale
                        input.form-control#mainLocale(name="og:locale" type="text")
                    .form-group
                        label(for="siteName") Site name
                        input.form-control#siteName(name="og:site_name" type="text")
                    .form-group
                        label(for="videoUrl") Video url
                        input.form-control#videoUrl(name="og:video" type="text")
                .form-group
                    button.btn.btn-primary.btn-lg(type="submit") Fake and Take!

block scripts
    include ./facebook-script.pug
    script(type="text/javascript").
        var addProps = document.getElementById("addProps")
        addProps.on("click", function (event) {
            
        })